body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:72px;
  top:14px;
  width:278px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:42px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:200px;
  top:42px;
  width:105px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:190px;
  top:42px;
  width:10px;
  height:22px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:76px;
  width:69px;
  height:70px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:72px;
  top:90px;
  width:278px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:139px;
  top:118px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:200px;
  top:118px;
  width:105px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:190px;
  top:118px;
  width:10px;
  height:22px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:152px;
  width:69px;
  height:70px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:72px;
  top:166px;
  width:278px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:139px;
  top:194px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:200px;
  top:194px;
  width:105px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:190px;
  top:194px;
  width:10px;
  height:22px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:228px;
  width:69px;
  height:70px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u28 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:72px;
  top:242px;
  width:278px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:126px;
  top:270px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:200px;
  top:270px;
  width:105px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:190px;
  top:270px;
  width:10px;
  height:22px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:380px;
  width:69px;
  height:70px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:72px;
  top:394px;
  width:278px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:139px;
  top:422px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:200px;
  top:422px;
  width:105px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:190px;
  top:422px;
  width:10px;
  height:22px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:304px;
  width:69px;
  height:70px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:70px;
}
#u46 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:72px;
  top:318px;
  width:278px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:139px;
  top:346px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:200px;
  top:346px;
  width:105px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:190px;
  top:346px;
  width:10px;
  height:22px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u54 {
  position:absolute;
  left:315px;
  top:38px;
  width:22px;
  height:22px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:315px;
  top:114px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:315px;
  top:190px;
  width:22px;
  height:22px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u59 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:315px;
  top:267px;
  width:22px;
  height:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:315px;
  top:343px;
  width:22px;
  height:22px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u63 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:315px;
  top:419px;
  width:22px;
  height:22px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u65 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
