body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:556px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:158px;
  top:-3px;
  width:398px;
  height:760px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:760px;
}
#u2 {
  position:absolute;
  left:2px;
  top:372px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:160px;
  top:10px;
  width:394px;
  height:27px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:37px;
  width:394px;
  height:676px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:676px;
}
#u6 {
  position:absolute;
  left:2px;
  top:330px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:160px;
  top:653px;
  width:393px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:390px;
  top:655px;
  width:49px;
  height:47px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:500px;
  top:655px;
  width:49px;
  height:47px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:271px;
  top:653px;
  width:49px;
  height:47px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:271px;
  top:695px;
  width:53px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:500px;
  top:697px;
  width:53px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:390px;
  top:697px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:327px;
  top:723px;
  width:60px;
  height:29px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:170px;
  top:655px;
  width:49px;
  height:44px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:181px;
  top:695px;
  width:27px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:164px;
  top:100px;
  width:74px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:258px;
  top:100px;
  width:290px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:261px;
  top:127px;
  width:50px;
  height:21px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:329px;
  top:130px;
  width:53px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:392px;
  top:130px;
  width:105px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:382px;
  top:130px;
  width:10px;
  height:16px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u38 {
  position:absolute;
  left:164px;
  top:167px;
  width:74px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:258px;
  top:167px;
  width:290px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:261px;
  top:194px;
  width:50px;
  height:21px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:329px;
  top:197px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:392px;
  top:197px;
  width:105px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:382px;
  top:197px;
  width:10px;
  height:16px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u49 {
  position:absolute;
  left:164px;
  top:233px;
  width:74px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:258px;
  top:233px;
  width:290px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:261px;
  top:260px;
  width:50px;
  height:21px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:329px;
  top:263px;
  width:53px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:392px;
  top:263px;
  width:105px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:382px;
  top:263px;
  width:10px;
  height:16px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u60 {
  position:absolute;
  left:164px;
  top:300px;
  width:74px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:258px;
  top:300px;
  width:290px;
  height:19px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:261px;
  top:327px;
  width:50px;
  height:21px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:329px;
  top:330px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:392px;
  top:330px;
  width:105px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:382px;
  top:330px;
  width:10px;
  height:16px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u71 {
  position:absolute;
  left:164px;
  top:366px;
  width:74px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:258px;
  top:366px;
  width:290px;
  height:19px;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:261px;
  top:393px;
  width:50px;
  height:21px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:329px;
  top:396px;
  width:53px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:392px;
  top:396px;
  width:105px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:382px;
  top:396px;
  width:10px;
  height:16px;
}
#u81_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u81_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u81_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u82 {
  position:absolute;
  left:161px;
  top:37px;
  width:392px;
  height:53px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:53px;
}
#u83 {
  position:absolute;
  left:2px;
  top:18px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:166px;
  top:36px;
  width:43px;
  height:43px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u85 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:332px;
  top:46px;
  width:49px;
  height:28px;
  font-size:24px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:507px;
  top:130px;
  width:31px;
  height:30px;
  color:#FF99CC;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:507px;
  top:195px;
  width:31px;
  height:30px;
  color:#FF99CC;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:507px;
  top:260px;
  width:31px;
  height:30px;
  color:#FF99CC;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:507px;
  top:324px;
  width:31px;
  height:30px;
  color:#FF99CC;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:507px;
  top:389px;
  width:31px;
  height:30px;
  color:#FF99CC;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:161px;
  top:650px;
  width:392px;
  height:63px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:63px;
}
#u99 {
  position:absolute;
  left:2px;
  top:24px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
